{% extends 'cart/detail.html' %}
{% block title %}
<title>
    Корзина
</title>
{% endblock %}

{% block content%}
<div class="block-names-product">
    <h1>Ваша корзина </h1>
</div>
<table align="center" class="cart" cols="6" width="80%" cellpadding="5">
    <thead>
    <tr bgcolor="#778899">
        <th></th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена</th>
        <th>Общая стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr bgcolor="#FFFAFA">
        <td>
            <img src="{{product.link}}"
                 style="width: 30%"

            >
        </td>
        <td>{{product.name}}</td>


        <td>


            {{item.quantity}}


        </td>


        <td><a href="{% url 'cart:cart_remove' product.id%}">
            <button type="button" class="btn-close" aria-label="Close"></button>
        </a></td>
        <td class="num">{{item.price}}</td>
        <td class="num">{{item.total_price}}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td bgcolor="#D3D3D3">Всего</td>
        <td bgcolor="#D3D3D3" colspan="4"></td>
        <td bgcolor="#D3D3D3" class="num">{{cart.get_total_price}}</td>
    </tr>
    </tbody>
</table>
<div style="height:100px">
    {% if cart.cart %}
    <a href="{% url 'order:order' %}">
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Перейти к оформлению</button>
        </div>
    </a>
    <a href="/catalog/category">
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Вернуться к покупкам</button>
        </div>
    </a>

    {% endif %}
</div>
{% endblock %}