{% extends 'catalog/base.html' %}
{% block content %}
<div>
    <h1>
        Категории
    </h1>
</div>



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>






<div style="width:100%; overflow: hidden; ">
    {% for i in category %}
    <div style="position: relative">
        <a class="items_catalog" href="{{i.id}}">
            <div class="product_catalog">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{i.category}}</h5>
                        <a href="{{i.id}}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}