{% extends 'base2.html' %}

{% block content %}

<form action="/signup/" name="register" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Регистрация не удалась. Либо такой пользователь существует, либо данные введены неверно.
    </div>
    <div>
        <button type="submit" value="Submit" style="float: left">
            <p>Завершить регистрацию</p>
        </button>
    </div>
</form>
{% endblock %}